* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #222121;
  line-height: 22px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8f9;
}

body {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  margin: 4px;
  font-size: 16px;
}

.img-placeholder {
  background-size: contain!important;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
}

.page-link {
  position: relative;
  display: block;
  color: #1ab0b3;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    z-index: 2;
    color: #0a58ca;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }

  &:focus {
    z-index: 3;
    color: #0a58ca;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }

  &:not(:first-child) .page-link {
    margin-left: -1px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .page-link {
    transition: none;
  }
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #1ab0b3;
  border-color: #1ab0b3;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-link {
  padding: 0.375rem 0.75rem;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
